# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Django
*.log
db.sqlite3
cloudsign_project/settings_local.py # Exclude local settings

# Docker
.dockerignore
.env # Ensure .env is ignored

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Media files
media/
